{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1 class="h1-large">Passionate about building efficient and scalable web applications.</h1>
                        <a class="btn-solid-lg page-scroll" href="#about">Discover</a>
                        <a class="btn-outline-lg page-scroll" href="#contact"><i class="fas fa-user"></i>Contact Me</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- About-->
    <div id="about" class="basic-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container first">
                        <h2>Hi there I'm santosh,</h2>
                        <p>And I love to create smooth and efficient websites . I love going through the entire process  from concept, to design, backend and then development and launch.
                            I want of experience more about this field. </p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container second">
                        <div class="time">2021 - PRESENT</div>
                        <h6>Computer Engineering</h6>
                        <p>Nepal College of Information Technology</p>
                        <div class="time">2023</div>
                        <h6>Python and Django</h6>
                        <p>Broadway Infosys</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of about -->


    <!-- Services -->
    <div id="services" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Offered services</h2>
                    <p class="p-heading">I'm in the initial phase of my web development journey, with a primary focus on backend development using Django. My goal is to continue honing my skills and expertise in this area.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-box">
                        <i class="far fa-gem"></i>
                        <h4>DESIGN</h4>
                        <p>"In the early stages of my web development journey, my primary focus lies in backend development using Django. While my core expertise is backend, I also have some front-end design skills that complement my ability to build strong foundations for successful online projects."</p>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-box">
                        <i class="fas fa-code"></i>
                        <h4>BACKEND</h4>
                        <p>"My interest  is centered around backend development, where I am engaged in honing my skills and knowledge. While I'm predominantly focused on the backend, I'm also eager to explore opportunities for growth and collaboration in the broader realm of web development."</p>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->

            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of services -->


    <!-- Details -->
	<div class="split">
		<div class="area-1">
		</div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2 bg-gray">
            <div class="container">    
                <div class="row">
                    <div class="col-lg-12">     
                        
                        <!-- Text Container -->
                        <div class="text-container">
                            <h2>Why Work With Me</h2>
                            <p>I am a great communicator and love to invest the necessary time to understand different kinds of concepts and work with them. </p>

                            <h5>DEVELOPMENT SKILLS</h5>
                            <p>I am familiar  with Html, Css, Javascript, Python, Django, Django REST Framework, Version control. </p>
                            
                            <div class="icons-container">

                                <img src="{% static 'images/details-icon-html.png' %}" alt="alternative">
                                <img src="{% static 'images/details-icon-css.png' %}" alt="alternative">
                                <img src="{% static 'images/details-icon-javascript.png' %}" alt="alternative">
                                <img src="{% static 'images/python.png' %}" alt="alternative">
                                <img src="{% static 'images/django.jpg' %}" alt="alternative">
                                <img src="{% static 'images/drf.png' %}" alt="alternative">
                                <img src="{% static 'images/git.jpg' %}" alt="alternative">
                            </div> <!-- end of icons-container -->
                        </div> <!-- end of text-container -->
                        <!-- end of text container -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
		</div> <!-- end of area-2 -->
    </div> <!-- end of split -->
    <!-- end of details -->


    <!-- Projects -->
    <div id="projects" class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Projects</h2>
                    <p class="p-heading">Listed below are some of the most representative projects I've worked on.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="{% url 'project' %}">
                                <img class="img-fluid" src="{% static 'images/Studio.png' %}" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p> <strong>Project:</strong> Basic E-commerce website with a lot of functions available such as Cart, Wishlist<a class="blue" href="{% url 'project' %}">Details</a></p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of projects -->



    <!-- Testimonials -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">A few words from people that chose to work with me</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <p class="testimonial-text">“Your progress in Python and Django is truly commendable, reflecting your persistent effort and commitment to mastering these valuable skills. Keep up the excellent work, and I'm excited to see where your programming journey takes you!”</p>
                            <div class="details">
                                <img src="{% static 'images/ayush.jpeg' %}" alt="alternative">
                                <div class="text">
                                    <div class="testimonial-author">Ayush Adhikari</div>
                                    <div class="occupation">CTO - DeepMind Creations </div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <p class="testimonial-text">“Your discipline and dedication have set a commendable example for your peers. Your consistent commitment to your studies and responsibilities reflects a strong work ethic, and I'm confident that these qualities will continue to serve you well in all your endeavors.”</p>
                            <div class="details">
                                <img src="{% static 'images/saan.png' %}" alt="alternative">
                                <div class="text">
                                    <div class="testimonial-author">Santosh Rai</div>
                                    <div class="occupation">Asst.Hod - NCIT college</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->



                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of testimonials -->


    <!-- Section Divider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <hr class="section-divider">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    <!-- end of section divider -->





    <!-- Contact -->
    <div id="contact" class="form-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact details</h2>
                    <p class="p-heading">For any type of work please don't hesitate to get in touch with me. The fastest way is to send me your message using the following email <a class="blue no-line" href="#your-link">santoshrawal1125@gmail.com</a></p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">


                    <!-- Contact Form -->
                    <form method="POST" id="contactForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control-input" name="name" placeholder="Name" required>

                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" name="email" placeholder="Email" required>

                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" name="message" placeholder="Message"></textarea>

                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Submit</button>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->  
    <!-- end of contact -->


{% endblock %}